<div class="jumbotron">
  <h2>Discuss designs and annotate on them with your peers. <strong>Live!</strong></h2>

  <p>

  <div class="row">
    <div class="col-md-5">
      <form ng-submit="newSession(imageUrl)" role="form">
        <h3>Start annotating on an image</h3>

        <div class="form-group">
          <input class="form-control input-lg" type="url" ng-model="imageUrl" required
                 placeholder="Enter a web url of image to annotate on"
                 value="https://farm8.staticflickr.com/7050/6921262309_3e13d62965_o_d.jpg"/>
        </div>

        <input type="submit" class="btn btn-success" value="Create a new session!"/>
      </form>
    </div>
    <div class="col-md-2">
      <h3 class="text-muted">Or</h3>
    </div>
    <div class="col-md-5">
      <form ng-submit="joinSession(sessionId)" role="form">
        <h3>Join a session with your friends</h3>

        <div class="form-group">
          <input type="text" class="form-control input-lg" required
                 placeholder="Session id that you received from your friend"
                 ng-model="sessionId"/>
        </div>
        <input type="submit" class="btn btn-success" value="Join session"/>
      </form>
    </div>
  </div>
</div>

<p>
<h3><a href="http://annotatewithme.r14.railsrumble.com/#/sessions/d5edd6e95677fda8094031ba59384915850b36d3" target="_blank">Demo Session <span class="glyphicon glyphicon-new-window"></span></a>
</h3>
<h4>Screenshot</h4>
<img src="images/screenshot.png">
</p>